<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Hiberasync</display-name>
  <!-- 필터 정의 -->
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>com.sinse.hiberasync.util.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>FoodTypeList</servlet-name>
  	<servlet-class>com.sinse.hiberasync.servlet.FoodTypeList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FoodTypeList</servlet-name>
  	<url-pattern>/foodtype/list</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>StoreRegist</servlet-name>
  	<servlet-class>com.sinse.hiberasync.servlet.StoreRegist</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StoreRegist</servlet-name>
  	<url-pattern>/store/regist</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>StoreList</servlet-name>
  	<servlet-class>com.sinse.hiberasync.servlet.StoreList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StoreList</servlet-name>
  	<url-pattern>/store/list</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>StoreDetail</servlet-name>
  	<servlet-class>com.sinse.hiberasync.servlet.StoreDetail</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StoreDetail</servlet-name>
  	<url-pattern>/store/detail</url-pattern>
  </servlet-mapping>
  
</web-app>